body{
	background-image:url(https://pre00.deviantart.net/477b/th/pre/i/2018/192/2/9/faded_vers_by_luvae-dcgxvso.png); 
	background-repeat:no-repeat;
	background-size:180%;
}

h1 {
	color:purple;
	font-family: Garamond;
	font-size: 80px;
	
}

h2 {
	color:white;
	font-family:Times New Roman;
	font-size:30px;
}
